@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root {
  /* Light scheme */
  /* --main-bg-color: #e8eef1;
  --lighter-bg-color: #ffffff;
  --slightly-lighter-bg-color: #f4f7f8;
  --even-lighter-bg-color: #e2e5e7;
  --main-font-color: #38383b;
  --alt-font-color: #f5f8fa;
  --accent-color: #22b3e7; */

  /* Dark scheme */
  --main-bg-color: #171a1b;
  --lighter-bg-color: #33393b;
  --slightly-lighter-bg-color: #232729;
  --even-lighter-bg-color: #454d50;
  --main-font-color: #dedeeb;
  --alt-font-color: #dedeeb;
  --accent-color: #e72274;

  --main-font-families: Roboto, Arial, Helvetica, sans-serif;
  --secondary-font-families: Quicksand;
}

html {
  /* Colors */
  background-color: var(--main-bg-color);
  color: var(--main-font-color);

  /* Fonts */
  font-family: var(--main-font-families);
}

body {
  /* margins + padding */
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
    line-height: 1.3rem;
    margin: 0;
}

hr {
  margin: 0.5rem 0;
  border-top: 1px solid var(--even-lighter-bg-color);
  border-bottom: 0;
}

.container {
  margin: auto;
  padding: 0rem 1rem;
  max-width: 1140px;
}

.card {
  background-color: var(--lighter-bg-color);
  box-shadow: 0 1px 2px rgba(0,0,0,.24),0 1px 3px rgba(0,0,0,.12);
  padding: 1rem;

  border-radius: 4px;
  margin-top: 1rem;
}